@model PagedList.IPagedList<WEBSITE_BANHANG.Models.SanPham>
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@using PagedList.Mvc;


@*Form Ajax tìm kiếm*@
<div class="col-10 agileits_search">
@using (Ajax.BeginForm("KQTimKiemPartial", "TimKiem", new AjaxOptions { UpdateTargetId = "KQTIMKIEM", InsertionMode = InsertionMode.Replace }))
{
    @Html.TextBox("TuKhoa", "", new { @class = "form-control mr-sm-2",@style="float:left", @type = "search", @placeholder = "Search", @arialabel = "Search", @required = "" })
    @*< input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>*@
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
}
</div>



<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">

        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>@Model.First().LoaiSanPham.TenLoai @Model.First().NhaSanXuat.TenNSX</span>

        </h3>
        <!-- //tittle heading -->
        <div class="ajax" id="KQTIMKIEM">
            <div class="row">

                <div class="abcd col-lg-9">
                    <!-- product left -->
                    <div class="agileinfo-ads-display" id="AJA">
                        <div class="wrapper">
                            <!-- first section -->
                            @{int k = 0;
                                for (int j = 0; j < Math.Ceiling((decimal)Model.Count() / 3); j++)
                                {
                                    int COUNT = 0;

                                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                                        <div class="row">


                                            @for (int i = k; i < Model.OrderBy(n => n.DonGia).Count(); i++)
                                            {
                                                //  int dem = 0;

                                                if (COUNT != 3)
                                                {

                                                    COUNT++;
                                                    <div class="col-md-4 product-men">
                                                        <div class="men-pro-item simpleCart_shelfItem">
                                                            <div class="men-thumb-item text-center">
                                                                @if (Model.First().MaLoaiSP == 3 && Model.First().MaNSX == 2)
                                                                {
                                                                    <div style="background-image:url('@Url.Content("~/Content/HinhAnhSP/"+Model.ElementAt(i).HinhAnh)'); height:250px;background-size: cover;background-position: center center;background-repeat: no-repeat;" alt=""></div>
                                                                }
                                                                else
                                                                {
                                                                    <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.ElementAt(i).HinhAnh)" class="img-fluid" alt="">
                                                                }
                                                                <div class="men-cart-pro">
                                                                    <div class="inner-men-cart-pro">
                                                                        @Html.Raw(Model.ElementAt(i).CauHinh)
                                                                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = Model.ElementAt(i).MaSP })" class="link-product-add-cart">Xem chi tiết</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-info-product text-center border-top mt-4">
                                                                <h4 class="pt-1">

                                                                    <a href="#">@Model.ElementAt(i).TenSP</a>
                                                                    @*link ajax giỏ hàng*@
                                                                    @Ajax.ActionLink("Use Ajax", "ThemGioHangAjax", "GioHang", new { @MaSP = Model.ElementAt(i).MaSP, @strUrl = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "giohangpt", InsertionMode = InsertionMode.Replace }, null)
                                                                </h4>
                                                                <div class="info-product-price my-2">
                                                                    <span class="item_price">@Model.ElementAt(i).DonGia.Value.ToString("#,##") VNĐ</span>
                                                                    <del>$280.00</del>
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                                    @*giỏ hàng bình thường không dùng ajax*@
                                                                    <form action="@Url.Action("ThemGioHang","GioHang", new { @MaSP=Model.ElementAt(i).MaSP , @strUrl=Request.Url.ToString() })" method="post">
                                                                        <fieldset>
                                                                            <input type="hidden" name="cmd" value="_cart">
                                                                            <input type="hidden" name="add" value="1">
                                                                            <input type="hidden" name="business" value=" ">
                                                                            <input type="hidden" name="item_name" value="Samsung Galaxy J7">
                                                                            <input type="hidden" name="amount" value="200.00">
                                                                            <input type="hidden" name="discount_amount" value="1.00">
                                                                            <input type="hidden" name="currency_code" value="USD">
                                                                            <input type="hidden" name="return" value=" ">
                                                                            <input type="hidden" name="cancel_return" value=" ">
                                                                            <input type="submit" name="submit" value="Add to cart" class="button btn">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {

                                                    k = i;
                                                    break;
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <br />
                    <div class="dlink">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @TuKhoa = ViewBag.TuKhoa })@*, PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {HttpMethod="GET",UpdateTargetId="AJA" }*@)


                    </div>

                </div>

                <!-- //product left -->
                <!-- product right -->
                <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                    <div class="side-bar p-sm-4 p-3">
                        <div class="search-hotel border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Brand</h3>
                            <form action="#" method="post">
                                <input type="search" placeholder="Search Brand..." name="search" required="">
                                <input type="submit" value=" ">
                            </form>
                            <div class="left-side py-2">
                                <ul>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Samsung</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Red Mi</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Apple</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Nexus</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Motorola</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Micromax</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Lenovo</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Oppo</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">Sony</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">LG</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked">
                                        <span class="span">One Plus</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- ram -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Ram</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Less than 512 MB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">512 MB - 1 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">1 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">2 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">3 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">5 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">6 GB</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">6 GB &amp; Above</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //ram -->
                        <!-- price -->
                        <div class="range border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Price</h3>
                            <div class="w3l-range">
                                <ul>
                                    <li>
                                        <a href="#">Under $1,000</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#">$1,000 - $5,000</a>
                                    </li>
                                    <li>
                                        <a href="#">$5,000 - $10,000</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#">$10,000 - $20,000</a>
                                    </li>
                                    <li>
                                        <a href="#">$20,000 $30,000</a>
                                    </li>
                                    <li class="mt-1">
                                        <a href="#">Over $30,000</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //price -->
                        <!-- discounts -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Discount</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">5% or More</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">10% or More</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">20% or More</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">30% or More</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">50% or More</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">60% or More</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //discounts -->
                        <!-- offers -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Offers</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Exchange Offer</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">No Cost EMI</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Special Price</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //offers -->
                        <!-- delivery -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Eligible for Cash On Delivery</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //delivery -->
                        <!-- arrivals -->
                        <div class="left-side border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3">New Arrivals</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Last 30 days</span>
                                </li>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Last 90 days</span>
                                </li>
                            </ul>
                        </div>
                        <div class="left-side py-2">
                            <h3 class="agileits-sear-head mb-3">Availability</h3>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checked">
                                    <span class="span">Exclude Out of Stock</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //arrivals -->
                    </div>
                    <!-- //product right -->
                </div>

            </div>
        </div>
        </div>
    </div>
